{{!  
    This template builds the faq detail html

    @author OpenCollab
    @since 1.0.0
}}
<tr>
    <th>Category</th>
    <td>{{category}}</td>
</tr>
<tr>
    <th>Question Title</th>
    <td>{{question}}</td>
</tr>
<tr>
    <th>Answer</th>
    <td>{{{answer}}}</td>
</tr>
<tr>
    <th>Last Modified</th>
    <td>{{displayDate modifiedOn}}</td>
</tr>
